{% load static %}
<html>
    <head>
        <title>Flyingschool</title>
        <link rel="stylesheet" href="{% static 'reservation/css.css' %}">
    </head>
    <body>
      <h1>Liste de mes réservations</h1> <a href="{% url 'logout' %}">Se déconnecter </a> <a href="/home">Réserver un évènement </a>
      <ul>
        {% for reservation in reservations %}
        <li>
          Date : {{ reservation.event.date }} <br>
          Ecole : {{ reservation.event.school }} <br>
          Utilisateur : {{ reservation.user.username }}
          <form method="post" action="{% url 'cancel_reserv' %}">
            {% csrf_token %}
            <input type="hidden" name="reservation_id" value="{{ reservation.id }}">
            <button type="submit">Annuler</button>
          </form>
          
        </li>
        {% empty %}
          <li>Aucune réservation</li>
        {% endfor %}
      </ul>
    </body>
</html>